In [1]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
city = ("tokyo", "kiev", "mekke", "new york", "istanbul")

In [2]:
list(zip(text, numbers, city))

[('one', 1, 'tokyo'),
 ('two', 2, 'kiev'),
 ('three', 3, 'mekke'),
 ('four', 4, 'new york'),
 ('five', 5, 'istanbul')]

In [3]:
print(* zip(text, numbers, city))

('one', 1, 'tokyo') ('two', 2, 'kiev') ('three', 3, 'mekke') ('four', 4, 'new york') ('five', 5, 'istanbul')

In [8]:
even = []
odd = []

for i in range(0,11):
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print(even)
print(odd)

[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [9]:
a = [i for i in range(0,10) if i % 2 == 0]
b = [k for k in range(0,10) if k % 2 != 0]

print(a)
print(b)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [12]:
example_list = [11,2,24,61,48,33,3]
even_num = 0
odd_num = 0
for i in range(len(example_list)):
    if not i % 2 :
        even_num += 1
    else:
        odd_num += 1

print("The number of even numbers", even_num)
print("The number of odd numbers", odd_num)

The number of even numbers 4
The number of odd numbers 3

In [13]:
for i in range(1,10):
    print(f"{i}" * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [15]:
toplam = 0
for i in range(1, 75):
    toplam += i

print(toplam)

2775

In [19]:
names = ["susan", "tom", "edward"] 
mood = ["happy", "sad"]

for k in names:
    for l in mood:
        print(k, "is", l)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [23]:
my_list = list(range(10))
print("Even square:",[i ** 2 for i in my_list if i % 2 ==0])
print("Odd square:",[i ** 2 for i in my_list if i % 2 !=0])

Even square: [0, 4, 16, 36, 64]
Odd square: [1, 9, 25, 49, 81]

In [37]:
number = input("Enter a number : ")

while True:   
    if number.isdecimal():
        break
    else:
        number = input(" It is an invalid entry. Don't use non-numeric, float, or negative values! : ")

sum_digit = 0

for i in range(len(number)):
    sum_digit += int(number[i]) ** len(number)

print(sum_digit)

if sum_digit == int(number):
    print(f"{number} is an Armstrong number.")
else :
    print(f"{number} is not an Armstrong number.")

93084
93084 is an Armstrong number.

In [39]:
print("Answer the questions 'Yes' or 'No'.")
age = input("Are you a cigarette addict older than 75 years old? ").strip().title()
chronic = input("Do you have a severe chronic disease? ").strip().title()
immune = input("Is your immune system too weak? ").strip().title()

if age == "Yes":
    age = True
else:
    age = False

if chronic == "Yes":
    chronic = True
else:
    chronic = False

if immune == "Yes":
    immune = True
else:
    immune = False


risk = age or chronic or immune

if risk:
    print("You are in risky group.")
else:
    print("You are not in risky group")

Answer the questions 'Yes' or 'No'.
You are in risky group.